

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

h2{
    padding: 3.5rem 0 2.5rem 0;
    text-align: center; 
}

/* Heading */
.navigation{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navigation li{
    display: inline-block;
    font-size: 1.9rem;
    margin: 0.5rem 1.5rem;
    font-weight: 300;
}

.navigation li a:link,
.navigation li a:visited{
    color: #777;
    text-decoration: none;
    word-spacing: 0.2rem;
    transition: color 0.4s;
}

.navigation li a::after{
    content: "";
    display: block;
    height: 0.1rem;
    background: transparent;
}

.navigation li a:hover{
    color: #E73C7E;
}

.navigation li a:hover::after{
    animation: navSlide 1s ease-out;
    background: #E73C7E;
}

@keyframes navSlide{
    0%{
        width: 0;
        background: #23A6D5;
    }

    50%{
        background: #23A6D5;
    }

    100%{
        background: #E73C7E; 
        width: 100%;
    }
}

/*Navbar*/
.scrolled{
    background-color: #ffffff;
    transition: background 0.5s;
}

.mid-left{
    height: 100vh;
    width: 100%;
    background: url(../img/generative.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem 6rem;
    overflow: hidden;
}

.text-name{
    position: absolute;
    top: 13rem;
    left: 3rem;
    padding: 1rem;
}

.about{
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: 300;
}

.about + p{
    font-size: 1.9rem;
}

/* Education */

.section-education{
    height: 100vh;
    background:url(../img/boy2.png);
    background-size: cover;
    background-attachment: fixed;
}

.school{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
}

.school+p{
    margin: 1.5rem 0;
    font-size: 2rem;
    text-align: center;
}

.school-logo{
    display:block;
    width: 30rem;
    margin: 0 auto;
}

/* Skills */

.section-skills ul{
    list-style: none;
}

.section-skills li::before{
    content: "\2022";
    color: #23A6D5;
    font-weight: bold;
    display: inline-block; 
    width: 2rem;
}

.section-skills li:hover::before{
    color: #E73C7E;
}

/* Work and projects */

.section-work{
    margin-bottom: 7rem;
}

.work-space{
    margin: 3rem 0;
}

.vid-pos{
    margin-top: 7rem;
}

.candy{
    display: block;
    padding: 3rem 0 0rem 0;
}

a.colorful:link,
a.colorful:visited
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.2rem;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease-in-out infinite;

    margin-top: 1rem;
}

@keyframes gradientBackground{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}


.contact{
    padding: 5rem 0;
    font-size: 1.75rem;
    background: #efefef;
}

.contact h2{
    text-align: left;
}

.contact ul{
    list-style: none;

}

ion-icon{
    margin-right: 1.7rem;
    color: rgb(51, 51, 51);
}

